<!DOCTYPE html>
<html>
  <head>
    <title>ViewcomponentbugDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    This is part of the layout
    <%= yield %>
  </body>
</html>
